<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyuan.boot.mapper.TestEasypoiMapper">

    <resultMap id="BaseResultMap" type="com.zyuan.boot.entity.TestEasypoi">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="process" column="process"/>
        <result property="remark" column="remark"/>
        <result property="age" column="age"/>
        <result property="orderNo" column="order_no"/>
    </resultMap>

    <sql id="BaseColumn">
        `id`, `name`, process, remark, age, order_no
    </sql>

    <select id="selectAllData" resultMap="BaseResultMap">
        select <include refid="BaseColumn"/>
        from t_test_easypoi
        order by `order_no` asc
    </select>

    <update id="updateTestEasyPoi" parameterType="com.zyuan.boot.entity.TestEasypoi">
        update t_test_easypoi
        set `name` = #{testEasypoi.name}
        where `id` = #{testEasypoi.id}
    </update>

</mapper>